# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# eshell
eshell/

# C++ mode
irony/

# lsp-mode
.lsp-session*
.dap-breakpoints

# helm
helm-curl.log
projects

# Others
semanticdb/
.cache/
.extension/
.last-package-update-day
mycustom.el
auto-save-list/
savefile/
transient/
projectile-bookmarks.eld
elpa/
cnfonts/
url/
private/*
anaconda-mode/
recentf
tramp
projectile.cache
request/
session.*
org-roam.db
bookmarks
.org-id-locations