# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Others
.cache/
.last-package-update-day
custom.el
auto-save-list/
savefile/
transient/
projectile-bookmarks.eld
elpa/
url/
recentf
tramp